@use '../base/imports' as *;

.labels {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.label-group {
    position: relative;
    display: flex;


    @include mq-min($l) {

        @include mq-hover {
            .label-tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.label-item {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    min-height: 24px;
    padding: 2px 8px;
    background-color: var(--color-tag-additional);
    color: var(--color-accent-blue);
    border-radius: 8px;
    border: 1px solid #DFF2FB;
    font-size: 11px;
    line-height: 1.2727;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

    @include mq($m) {
        z-index: 10;
    }

    &--secondary {
        background-color: var(--color-tag-sensor);
        color: var(--color-accent-pink);
        border-color: #FFE6F0;
    }
}

.label-tooltip {
    position: absolute;
    min-width: 323px;
    padding-top: 10px;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out;

    @include mq($l) {
        min-width: unset;
        width: 100%;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100dvh;
        padding-top: 0;
        z-index: 100;

        &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &--secondary {

        .label-tooltip__head {
            color: var(--color-accent-pink);
        }
    }

    &::before {
        content: url('/images/tooltip-angle.svg') ;
        width: 14px;
        height: 10px;
        display: block;
        position: absolute;
        top: -5px;
        left: 40px;
        z-index: 2;

        @include mq($l) {
            display: none;
        }
    }

    &__overlay {
        display: none;

        @include mq($l) {
            position: absolute;
            inset: 0;
            display: block;
            width: 100%;
            height: 100dvh;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    &__inner {
        @include mq($l) {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: 100dvh;
        }
    }

    &__close {
        display: none;

        @include mq($l)  {
            position: absolute;
            top: 0;
            right: 6px;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__content {
        position: absolute;
        width: 100%;
        padding: 12px 16px;
        box-shadow: 1px 1px 14.4px 0px #61616133,
                    3px 6px 7px 0px #61616117,
                    8px 13px 9px 0px #6161610D,
                    14px 23px 11px 0px #61616103,
                    21px 36px 12px 0px #61616100;
        background-color: var(--color-white);
        display: flex;
        align-items: flex-start;
        gap: 16px;
        border-radius: 12px;

        @include mq($l) {
            position: relative;
            border-radius: 12px 12px 0 0;
            padding: 40px 20px 32px 20px;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 74px;
        height: 74px;
        border-radius: 50%;
        flex-shrink: 0;

        img {
            display: block;
            aspect-ratio: 1/1;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 1.15;
        font-weight: 500;
        color: var(--color-accent-blue);
    }

    &__desc {
        font-size: 14px;
        line-height: 1.3334;
        color: var(--color-secondary);
    }
}