@use "../base/imports" as *;

.passport {
  background-color: var(--color-gray);
  overflow: hidden;

  @include mq($l) {
    padding-bottom: 20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @include mq($l) {
      align-items: flex-end;
    }
  }

  &__img {
    display: block;
    max-width: 650px;
    margin-bottom: -40px;

    @include mq($l) {
      margin-bottom: 0;
    }

    @include mq($m) {
      position: relative;
      width: 250px;
      min-width: 250px;
      flex-shrink: 0;
      top: -10px;
      right: 10px;
    }
  }

  &__head {
    max-width: 400px;
    padding: 20px 0;

    @include mq($l) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 28px;

    @include mq($l) {
      margin-bottom: 12px;
    }

    @include mq($m) {
      margin-bottom: 4px;
    }
  }

  &__link {
    padding: 8px 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-accent-blue);

    @include mq($l) {
      padding: 10px 0;
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
