<header class="header js-header">
  <div class="container">
    <div class="header__inner">
      <a href="/" class="header__logo">
        <picture>
          <source srcset="/images/logo.svg" media="(max-width: 767.98px)">
          <img src="/images/logo-model-a.svg" alt="REMEZ">
        </picture>
       
      </a>
      <div class="header__action">
        <a href="#" class="header__btn header__reg">Зарегистрировать</a>
        <a href="#" class="header__btn header__btn--white">Заказать</a>
      </div>
      <button type="button" class="header__burger reset-btn">
        <svg class="icon-svg icon-svg--32" aria-hidden="true">
          <use xlink:href="./images/sprite.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>